.login{
  background-color: #fff;
  max-width: 500px;
  padding: 2rem;
  border-radius: 10px;
}
.login h2{
  font-size: 2.2rem;
  text-align: center;
  font-family: cursive;
  margin-bottom: 1rem;
}
.login p{
  margin: 1rem 0;
  text-align: center;
}
input{
  width: 100%;
  display: block;
  margin: 0.3rem 0 1.2rem;
}

button{
  margin: auto;
  display: block;
  background-color: #171747;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}